@using testtesttest.ViewModels
@model UserDetailViewModel

<div class="container">

    <!-- Portfolio Item Heading -->
    <h1 class="my-4">
        Information about user
    </h1>

    <!-- Portfolio Item Row -->
    <div class="row">

@*        <div class="col-md-8">
            <img class="img-fluid" src="@Model.Image" alt="">
        </div>*@

        <div class="col-md-4">
            <h3 class="my-3">UserName: @Model.UserName</h3>
        </div>
    </div>
    <div class="col-md-2">
        <a type="button" asp-controller="user" asp-action="index" class="btn btn-primary">Back</a>
    </div>


    </div>
    <!-- /.row -->
</div>
<!-- /.container -->
